<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <!--<connectionStrings>
    <add name="BusinessDatabase" connectionString="Server=.;Database=CoachseekLocal;User Id=sa;Password=C0@ch5eek;" />
    <add name="BusinessDatabase-Test" connectionString="Server=.;Database=CoachseekLocal-Test;User Id=sa;Password=C0@ch5eek;" />
    <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=coachseek;AccountKey=q8Jx6P9zoqPjdjfNnu9h+RA+hEQnKozkQZB9vmq2Wep23PtQEKDGU1A1CVirQRJDbNkgRXZYpfK8D10S+DgJ5A==" />
    <add name="StorageConnectionString-Test" connectionString="DefaultEndpointsProtocol=https;AccountName=coachseektest;AccountKey=J5jvxnEOxG/Ttt0/u+i7eVLaKN/J7vuqenVHQmtQVRRq7eXGWuZMpmuXZF8JKqdWOYDrezz+n+U4d22Nq/7LPw==" />
  </connectionStrings>-->
  <!--<connectionStrings>
    <add name="BusinessDatabase" connectionString="Data Source=tcp:d85wfdu1gd.database.windows.net,1433;Initial Catalog=Coachseek-Api-Testing;User Id=CoachSeek@d85wfdu1gd;Password=W#ggie1267;" />
    <add name="BusinessDatabase-Test" connectionString="Data Source=tcp:d85wfdu1gd.database.windows.net,1433;Initial Catalog=Coachseek-Api-Testing;User Id=CoachSeek@d85wfdu1gd;Password=W#ggie1267;" />
    <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=coachseekapitesting;AccountKey=z7DWuVgwH3uquP8CobBJY/yM6mklqQnogyJaflH0Cmy/siG+vXSaVgWPBcnteJYowmWJb7PJsbJKIabueIp/Cg==" />
    <add name="StorageConnectionString-Test" connectionString="DefaultEndpointsProtocol=https;AccountName=coachseekapitesting;AccountKey=z7DWuVgwH3uquP8CobBJY/yM6mklqQnogyJaflH0Cmy/siG+vXSaVgWPBcnteJYowmWJb7PJsbJKIabueIp/Cg==" />
  </connectionStrings>-->
  <connectionStrings>
    <add name="BusinessDatabase" connectionString="Server=.;Database=CoachseekLocal;User Id=sa;Password=C0@ch5eek;" />
    <add name="BusinessDatabase-Test" connectionString="Server=.;Database=CoachseekLocal-Test;User Id=sa;Password=C0@ch5eek;" />
    <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=coachseekapitesting;AccountKey=z7DWuVgwH3uquP8CobBJY/yM6mklqQnogyJaflH0Cmy/siG+vXSaVgWPBcnteJYowmWJb7PJsbJKIabueIp/Cg==" />
    <add name="StorageConnectionString-Test" connectionString="DefaultEndpointsProtocol=https;AccountName=coachseekapitesting;AccountKey=z7DWuVgwH3uquP8CobBJY/yM6mklqQnogyJaflH0Cmy/siG+vXSaVgWPBcnteJYowmWJb7PJsbJKIabueIp/Cg==" />
  </connectionStrings>
  <appSettings>
    <add key="Environment" value="Testing" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>