<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=coachseekproduction;AccountKey=53MpY4vH8oki4T05MVxONHYoTOrT4govDiLluRbko7i0CBE/TR7kZAEw5vkKfXbxPMCxla7oEnTFZYb1YXaVvg==" />
  </connectionStrings>
</configuration>