<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <connectionStrings>
    <add name="BusinessDatabase-Test" connectionString="Server=.;Database=CoachseekLocal-Test;User Id=sa;Password=C0@ch5eek;" />
    <add name="BusinessDatabase" connectionString="Server=.;Database=CoachseekLocal;User Id=sa;Password=C0@ch5eek;" />
    <add name="StorageConnectionString-Test" connectionString="UseDevelopmentStorage=true" />
    <add name="StorageConnectionString" connectionString="UseDevelopmentStorage=true" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="AWSAccessKey" value="AKIAIC66MHPI7PM7QYYA" />
    <add key="AWSSecretKey" value="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" />
    <add key="AWSRegion" value="us-west-2" />
    <add key="EmailSender" value="noreply@coachseek.com" />
    <add key="IsEmailingEnabled" value="true" />
    <add key="IsRequestLoggingEnabled" value="false" />
    <add key="AdminUserName" value="userZvFXUEmjht1hFJGn+H0YowMqO+5u5tEI" />
    <add key="AdminPassword" value="passYBoVaaWVp1W9ywZOHK6E6QXFh3z3+OUf" />
    <add key="IsUserTrackingEnabled" value="true" />
    <add key="UserTrackerCredentials" value="2c5b7881-6da6-4ba0-8f35-d21d17e233ed" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <rewrite>
      <rules>
        <rule name="Add trailing slash to email as part of URL" stopProcessing="true">
          <match url="^(Admin/Users/.*\.[a-z]{2,4})$" />
          <action type="Rewrite" url="{R:1}/" />
        </rule>
      </rules>
    </rewrite>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>